.App {
  text-align: center;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}
/* write your parent styles in here for your App.js */
.Header {
  color: red;
  text-shadow: 0 1px 0 #000,
0 2px 0 #bbb,
0 3px 0 #aaa,
0 4px 0 #aaa,
0 5px 0 #999,
0 6px 1px #000,
0 0px 3px #000,
0 1px 3px #000,
0 3px 5px #000,
0 5px 10px #000,
0 5px 20px #000;
font-size: 50px;
}

h2 {
  color: blue;
  text-shadow: 0 0 10px #fff,
0 0 20px #fff,
0 0 30px #fff,
0 0 40px #ff00de,
0 0 70px #ff00de,
0 0 80px #ff00de,
0 0 100px #ff00de,
0 0 150px #ff00de;
}

h3 {
  color: magenta;
  font-weight: bold;
}